In [18]:
#vous aurez besoin des bubliothèque numpy, pandas et le module pyplot de la bubliothèque matplolib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [21]:
#Chargez le fichier "heart" de données dans un objet appelé "data"
data=pd.read_excel('C:/Users/LAMTE INOVACI/Desktop/IGS1/heart.xlsx')#,sep="")

In [32]:
#Copiez data dans un autre object appelé df
df=data

In [33]:
#les 10 prmiers lignes de votre objet df
df.head(10)

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
5,65,feminin,155,269,A,A,148,non,8,1,A,absence
6,51,masculin,110,175,A,A,123,non,6,1,A,absence
7,45,feminin,112,160,A,A,138,non,0,2,A,absence
8,55,masculin,130,262,A,A,155,non,0,1,A,absence
9,58,feminin,136,319,B,C,152,non,0,1,C,presence

In [36]:
#nombre lignes et de colonnes de l'objet df

df.dtypes
df.shape

(270, 12)

In [42]:
#liste des colonnes de l'objet df
df.iloc[:0,:].columns

Index(['age', 'sexe', 'pression', 'cholester', 'sucre', 'electro', 'taux_max',
       'angine', 'depression', 'pic', 'vaisseau', 'coeur'],
      dtype='object')

In [43]:
#les statistiques descriptives de l'objet df
df.describe()

              age    pression   cholester    taux_max  depression         pic
count  270.000000  270.000000  270.000000  270.000000  270.000000  270.000000
mean    54.433333  131.344444  249.659259  149.677778   10.500000    1.585185
std      9.109067   17.861608   51.686237   23.165717   11.452098    0.614390
min     29.000000   94.000000  126.000000   71.000000    0.000000    1.000000
25%     48.000000  120.000000  213.000000  133.000000    0.000000    1.000000
50%     55.000000  130.000000  245.000000  153.500000    8.000000    2.000000
75%     61.000000  140.000000  280.000000  166.000000   16.000000    2.000000
max     77.000000  200.000000  564.000000  202.000000   62.000000    3.000000

In [8]:
#les 4 premieres colonnes de la varible age de l'objet df en utilisant la technique d'indexing

In [9]:
#les 10 premiere lignes des variables age, sexe et pression en utilisant la technique du slicing

In [49]:
#vérifier si une personne a plus de 50 ans
df[df.age==50]

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
122,50,feminin,120,219,A,A,158,non,16,2,A,absence
161,50,feminin,120,244,A,A,162,non,11,1,A,absence
163,50,masculin,150,243,A,C,128,non,26,2,A,presence
168,50,masculin,144,200,A,C,126,oui,9,2,A,presence
230,50,masculin,140,233,A,A,163,non,6,2,B,presence
238,50,feminin,110,254,A,C,159,non,0,1,A,absence
255,50,masculin,129,196,A,A,163,non,0,1,A,absence

In [53]:
#afficher les femmes qui ont plus de 50 ans
df[(df.sexe=='feminin')&(df.age>50)]

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
5,65,feminin,155,269,A,A,148,non,8,1,A,absence
9,58,feminin,136,319,B,C,152,non,0,1,C,presence
10,52,feminin,136,196,A,C,169,non,1,2,A,absence
13,58,feminin,100,248,A,C,122,non,10,2,A,absence
16,67,feminin,106,223,A,A,142,non,3,1,C,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
258,60,feminin,150,240,A,A,171,non,9,1,A,absence
261,53,feminin,130,264,A,C,143,non,4,2,A,absence
264,54,feminin,160,201,A,A,163,non,0,1,B,absence
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence

In [55]:
#afficher les femmes plus de 50 ans qui ont une maladie cardiaque
df[(df.sexe=='feminin')&(df.age>50)&(df.coeur=='presence')]

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
9,58,feminin,136,319,B,C,152,non,0,1,C,presence
38,60,feminin,158,305,A,C,161,non,0,1,A,presence
74,60,feminin,150,258,A,C,157,non,26,2,C,presence
76,56,feminin,200,288,B,C,133,oui,40,3,C,presence
87,65,feminin,150,225,A,C,114,non,10,2,D,presence
104,62,feminin,150,244,A,A,154,oui,14,2,A,presence
118,63,feminin,108,269,A,A,169,oui,18,2,C,presence
120,59,feminin,174,249,A,A,143,oui,0,2,A,presence
135,62,feminin,138,294,B,A,106,non,19,2,D,presence
141,55,feminin,180,327,A,B,117,oui,34,2,A,presence
146,56,feminin,134,409,A,C,150,oui,19,2,C,presence
150,61,feminin,130,330,A,C,169,non,0,1,A,presence
153,61,feminin,145,307,A,C,146,oui,10,2,A,presence
175,66,feminin,178,228,B,A,165,oui,10,2,C,presence
186,51,feminin,130,305,A,A,142,oui,12,2,A,presence
203,62,feminin,160,164,A,C,145,non,62,3,D,presence
250,62,feminin,130,263,A,A,97,non,12,2,B,presence
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence

In [56]:
#verifier s'il y a des donnees manquantes
df.isnull()

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
265,False,False,False,False,False,False,False,False,False,False,False,False
266,False,False,False,False,False,False,False,False,False,False,False,False
267,False,False,False,False,False,False,False,False,False,False,False,False
268,False,False,False,False,False,False,False,False,False,False,False,False
269,False,False,False,False,False,False,False,False,False,False,False,False

In [60]:
#suppression les lignes ou il y a des donnees maquantes
df.dropna()

,age,sexe,pression,cholester,sucre,electro,taux_max,angine,depression,pic,vaisseau,coeur
0,58,masculin,100,234,A,A,156,non,1,1,B,presence
1,41,feminin,130,204,A,C,172,non,14,1,A,absence
2,58,masculin,150,270,A,C,111,oui,8,1,A,presence
3,53,masculin,140,203,B,C,155,oui,31,3,A,presence
4,41,masculin,130,214,A,C,168,non,20,2,A,absence
...,...,...,...,...,...,...,...,...,...,...,...,...
265,62,feminin,140,268,A,C,160,non,36,3,C,presence
266,62,masculin,130,231,A,A,146,non,18,2,D,absence
267,64,masculin,110,211,A,C,144,oui,18,2,A,absence
268,63,feminin,150,407,A,C,154,non,40,2,D,presence
269,35,feminin,138,183,A,A,182,non,14,1,A,absence

In [61]:
#Recodage de sexe (0 pour masculin et 1 pour féminin)
df["sexe"]=df["sexe"].apply(lambda row:1 if row=='feminin' else 0)

In [16]:
#supprimer les variable depression, vaisseau et pic du dataframe

In [17]:
#Representation graphique de la variable coeur

In [18]:
#Representation graphique de toutes les variables qualitatives

In [ ]:
#Representation graphique de toutes les variables quantitative